.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr));
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.date {
  margin-bottom: 3rem;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
  font-family: michroma;
  font-size: var(--font-lg);
  margin-bottom: 1.2rem;
}

.specialDesc {
  margin-top: 2rem;
}

.primaryButtonLarge {
  display: inline-block;
  width: 400px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: var(--color-text);
  line-height: 80px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 1rem;
}

.primaryButtonLarge:hover {
  background-color: #fff;
  border-color: #59b1eb;
  background-color: #001858;
}

.tweet {
  display: flex;
  justify-content: center;
}

.timeTable {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0 80px;
  margin: 0 auto;
  width: calc(100% - 160px);
}

.timeTable tr {
  border-top: solid 1px var(--color-text);
}

.timeTable th {
  padding: 10px;
  background-color: var(--color-text);
  color: #fff;
}

.timeTable td {
  padding: 10px;
  vertical-align: top;
}

.tableDesc {
  text-align: left;
  font-size: 0.875rem;
  width: calc(100% - 160px);
  margin-top: 24px;
}

@media screen and (max-width: 720px) {
  .intro {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .intro li {
    margin-bottom: 1.2rem;
  }

  .primaryButtonLarge {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .specialDesc {
    text-align: left;
    margin-top: 1rem;
  }

  .timeTable {
    padding: 0;
    width: 100%;
    font-size: 0.875rem;
  }

  .tableDesc {
    width: 100%;
    margin-top: 24px;
  }
}
